
.about {
  background-color: bisque;
  display: grid;
  /* flex-direction: row; */
  grid-template-columns: 1fr 1fr 1fr;
  height: fit-content;
  /* align-items: center; */
}


.info {
  display: grid;
  grid-template-rows: 50% 50%;
  width: 30vw;
  background-color: aqua;
  text-align: center;
  
}

.jobTitle {
  
  font-family: 'Alice';
  font-style: normal;
  font-size: 6vmin;
  margin-left: 4vw;
  filter: drop-shadow(-2px 2px 4px rgba(0, 0, 0, 0.25));
}

.education {
  font-family: 'Yrsa';
  font-size: 3vmin;
  margin-left: 4vw;
}

.topText {
  margin-bottom: 0;
}
.bottomText {
  margin-top: 0;
}

.slogan {
  font-family: 'Yrsa';
  font-size: 3vmin;
  margin-left: 4vw;
  align-self: center;
}

.portfolioImage {
  width: 20vw;
  height: 20vw;
  background: url('../resources/portfolio.JPG');
  justify-self: center;
  align-self: center;
}

@media screen and (max-width: 800px) {
  .info {
    background-color: rebeccapurple;
    width: 100vw;
  }

  .about {
    /* flex-direction: column; */
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns: 0fr;
  }
}