.projectHeader {
  height: 8vh;
  /* border: 2px solid black; */
  background-color: white;
  display: flex;
  align-items: center;
  position: sticky;
  top: 100px;
}

.projectLogo {
  
  margin-left: 3.5vw;
  font-family: 'Alice';
  font-style: normal;
  font-size: 7vmin;
  font-weight: lighter;
  filter: drop-shadow(-2px 2px 4px rgba(0, 0, 0, 0.25));
}


.projectCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 4vw;
  justify-content: space-around;
}
/* Media Query for changing justify content to center when screen small enough. */

@media screen and (max-width: 760px) {
  .projectCards{
    justify-content: center;
  }
}