.projectHeader {
  height: 8vh;
  /* border: 2px solid black; */
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  position: sticky;
  top: 100px;
  z-index: 1;
  text-align: center;
}

.projectLogo {
  
  margin-left: 3.5vw;
  margin-right: 2vw;
  font-family: 'Alice';
  font-style: normal;
  font-size: 7vmin;
  font-weight: lighter;
  filter: drop-shadow(-2px 2px 4px rgba(0, 0, 0, 0.25));
}

.projectTag {
  background-color: #D9D9D9;
  width: 150px;
  padding: 5px;
  border-radius: 20px;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
}

.projectCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 4vw;
  justify-content: space-around;
}

.projectBody {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 50px;
}

.projectSection {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.projectSection p {
  flex-basis: 50%;
}

.projectSection a {
  flex-basis: 20%;
}

/* Media Query for changing justify content to center when screen small enough. */

@media screen and (max-width: 760px) {
  .projectCards{
    justify-content: center;
  }
}